/* HEADER */
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

/* LOGO I TOPBAR */
.logo-top {
  width: 25%;
}

/* IKONER */
.ikon-div {
  height: 100px;
}

.tlf {
  width: 35%;
}

.kalender {
  width: 30%;
}

.bil {
  width: 60%;
}

/* FORDELE SECTION */
.project-name {
  margin-left: 10px;
  margin-right: 10px
}

.border-radius {
  border-radius: 3px;
}

/* Reparationer */
.rep {
  width: 60%;
}

/* KUNDER SECTION */
.firma-div img {
  width: 100%;
}

.problem {
  min-height: 150px;
}

/* BOOKING */
form {
  width: 50%;
  margin-left: 25%;
}

/* KONTAKT */
.fas {
  color: #2f67b2;
}
